{# This component displays a section that explains what is Nerdearla #}
<section id="about" class="about">
   <link rel="stylesheet"
         href="{{ url_for('static', filename='css/custom_button_2.css') }}">
   <link rel="stylesheet"
         href="{{ url_for('static', filename='css/about.css') }}">
   <img src="{{ url_for('static', filename='img/sticker-gratis.png') }}"
        alt="100% gratis"
        class="sticker-3">
   <div class="container">
      <h1 class="main-title">{{ _("Sobre Nerdearla") }}</h1>
      <div class="d-flex flex-column flex-xl-row justify-content-center align-items-center">
         <div>
            <iframe width="560"
                    height="315"
                    src="https://www.youtube.com/embed/LEvRHxyekKQ?si=R_7V7pampR1929s4"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            <p class="about-1">
               <span>{{ _("Nerdearla es una experiencia social, tanto en el formato en persona como online, con espacio de coworking y chats en vivo, charlas, talleres y muchas oportunidades para aprender de líderes de la industria.") }}</span>
            </p>
         </div>
         <p class="about-2">
            {{ _("Desde 2014 nos dedicamos a organizar una conferencia de clase mundial, completamente gratuita, con contenido de vanguardia en ciencia y tecnología.") }}
         </p>
      </div>
   </div>
</section>
