<section id="contact">
   <a name="newsletter"></a>
   <link rel="stylesheet"
         href="{{ url_for('static', filename='css/mautic_form.css') }}">
   <div class="d-flex flex-lg-row flex-column align-items-lg-center">
      <div>
         <h1 class="text-black display-6 fw-semibold m-0">{{ _(" Subscribite a nuestro newsletter ") }}</h1>
         <p class="text-black fs-5">
            {{ _("Enterate de todas las novedades del evento, speakers, registro y mucho más.") }}
         </p>
      </div>
         <script type="text/javascript"
                 src="https://mk4.sysarmy.com/form/generate.js?id=2"></script>
   </div>
</section>
