<section id="contact">
	<div class="container">
		<h1>
			Contactate
		</h1>
		<form id="contact-form" method="post" action="submit_contact/">
			{{ form.csrf_token }}
			<div class="text-danger my-2" id="csrf_token-error">
			</div>

			<div class="form-group">
				{{ form.name.label }}
				{{ form.name(class='form-control') }}
				<div id="name-error" class="invalid-feedback"></div>
			</div>
			<div class="form-group">
				{{ form.surname.label }}
				{{ form.surname(class='form-control') }}
				<div id="surname-error" class="invalid-feedback"></div>
			</div>
			<div class="form-group">
				{{ form.email.label }}
				{{ form.email(class='form-control') }}
				<div id="email-error" class="invalid-feedback"></div>
			</div>
			<button class="btn btn-primary" id="submit">Signup</button>
		</form>
	</div>
	<div id="success-message" style="display: none;"></div>

	<script src="{{ url_for('static', filename='js/contact.js') }}"></script>
</section>