{# This component displays a countdown till the start of the event.
The start date is defined inside countdown.js
 #}
<section id="countdown" class="y-spaced-section">
   <link rel="stylesheet"
         href="{{ url_for('static', filename='css/countdown.css') }}">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 d-flex justify-content-center align-items-sm-center">
            <h1 class="display-4 fw-semibold text-center text-md-start">Cuánto falta para Nerdearla 2023?</h1>
         </div>
         <div class="col-lg-8 d-flex align-items-center justify-content-center">
            <div class="timer d-flex flex-column flex-sm-row align-items-center justify-content-center">
               <div class="timer-item ">
                  <div class="timer-number days bg-trama bg-trama-red-1 bg-trama-fit "></div>
                  <div class="timer-info">Días</div>
               </div>
               <div class="timer-item">
                  <div class="timer-number hours  bg-trama bg-trama-green-1 bg-trama-fit"></div>
                  <div class="timer-info">Horas</div>
               </div>
               <div class="timer-item">
                  <div class="timer-number minutes  bg-trama bg-trama-yellow-1 bg-trama-fit"></div>
                  <div class="timer-info">Minutos</div>
               </div>
               <div class="timer-item">
                  <div class="timer-number seconds  bg-trama bg-trama-blue-1 bg-trama-fit"></div>
                  <div class="timer-info">Segundos</div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <br />
   <br />
   <p class="text-center timer-info">27 al 30 de septiembre, 2023</p>

   <script src="{{ url_for('static', filename='js/countdown.js') }}"></script>
</section>
