<section id="footer" class="mt-5">
   <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
         <p class="col-md-4 mb-0 text-body-secondary">© 2023 Nerdearla</p>
         <div class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto">
            <a href="https://sysarmy.com" target="_blank" rel="noopener noreferrer">
               <img src="{{ url_for('static', filename='img/logos/sysarmy-10anios.png') }}"
                    alt="logo"
                    height="50px">
            </a>
         </div>
         <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item">
               <a href="{{ url_for('index') }}"
                  class="nav-link px-2 text-body-secondary">Home</a>
            </li>
            <li class="nav-item">
               <a href="{{ url_for('sponsors') }}"
                  class="nav-link px-2 text-body-secondary">Sponsors</a>
            </li>
            <li class="nav-item">
               <a href="{{ url_for('code_of_conduct') }}"
                  class="nav-link px-2 text-body-secondary">Code of Conduct</a>
            </li>
         </ul>
      </footer>
   </div>
</section>
