{# This component displays a hero section, which should greet the user in the index.html #}
{# TODO: Change background to a video #}
<section id="hero">
   <link rel="stylesheet"
         href="{{ url_for('static', filename='css/hero.css') }}" />
   <div class="d-flex  justify-content-center">
      <div class="video-container">
         <video autoplay loop muted playsinline>
            <source src="{{ url_for('static', filename='img/intro.webm') }}"
                    type="video/webm">
            {{ _("Tu dispositivo no soporta el video de fondo :(") }}
         </video>
         <div class="darken-overlay"></div>
         {# Register button #}
         {# <a href="https://nerdear.live/?utm_source=hero"
            class="custom_button_hero mb-3">
            <span class="button__text">&nbsp;{{ _("ESTAMOS EN VIVO!") }}&nbsp;</span>
         </a> #}
         <a href="https://nerdear.live/?utm_source=hero"
                  class="custom_button_vivo" style="background-color: var(--nerd-red); border: 0;border-radius: 50px; color: var(--nerd-black); font-family: &quot;Rift Soft&quot;; font-size: 2.5rem; font-weight: bold;letter-spacing: 0.03em; line-height: 1.2; margin: 3rem auto 5rem;padding: 0.4rem 1.8rem; text-align: center;
    text-decoration: none; transition: all 0.3s ease;z-index: 0;">{{ _("Estamos en vivo!") }}</a>
         <div class="logo"></div>
         <p class="blurb text-center">{{ _("26 al 30 de septiembre de 2023") }}</p>
      </div>
   </div>
</section>
