{# This component displays the navbar at the top of the page #}
{# Navbar start #}
{% set languages = ['en','es'] %}
<section id="navbar">
   <link rel="stylesheet"
         href="{{ url_for('static', filename='css/custom_button.css') }}">
   <nav class="navbar navbar-expand-lg navbar-dark bg-black">
      <div class="container-fluid">
         <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/logos/nerdearla-simple.png') }}"
                 alt="Bootstrap"
                 height="60"/>
         </a>
         <button class="navbar-toggler"
                 type="button"
                 data-bs-toggle="collapse"
                 data-bs-target="#collapsable-navbar-menu"
                 aria-controls="collapsable-navbar-menu"
                 aria-expanded="false"
                 aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="collapsable-navbar-menu">
            <div class="navbar-nav me-auto">
               {# Put the items (apart of brand) of the navbar here #}
               <a class="nav-link nav-item" href="{{ url_for('index') }}">{{ _('Home') }}</a>
               <a class="nav-link nav-item" href="{{ url_for('sponsors') }}">{{ _('Sponsors') }}</a>
               <a class="nav-link nav-item" href="{{ url_for('agenda') }}">{{ _('Agenda') }}</a>
               {# TODO: Add the "Registrate" button #}
               {# <a class="nav-link nav-item" href="registro.nerd.la">{{ _('Registrate') }}</a> #}
            </div>
            <select id="language-selector">
               <option value="en">
                  EN
               </option>
               <option value="es">
                  ES
               </option>
            </select>
            {# Social icons #}
            <div class="navbar-nav mx-lg-auto">
               {# Register button #}
               <a href="{{ url_for('sponsors') }}" class="custom_button">
                  <div class="button__line"></div>
                  <div class="button__line"></div>
                  <span class="button__text">{{ _('¡Convertite en Sponsor!') }}</span>
               </a>
            </div>
            <div class="navbar-nav ms-auto d-flex align-items-center flex-row gap-4 gap-sm-2 gap-lg-1">
               <!-- Icons -->
               <a class="nav-link nav-item" href="https://sysar.my/discord">
                  <i class="fab fa-discord text-white"></i>
               </a>
               <a class="nav-link nav-item" href="https://www.instagram.com/sysarmy/">
                  <i class="fab fa-instagram text-white"></i>
               </a>
               <a class="nav-link nav-item"
                  href="https://www.linkedin.com/company/sysarmy/">
                  <i class="fab fa-linkedin text-white"></i>
               </a>
               <a class="nav-link nav-item" href="https://nerdear.live/spotify">
                  <i class="fab fa-spotify text-white"></i>
               </a>
               <a class="nav-link nav-item" href="https://twitter.com/sysarmy">
                  <i class="fab fa-twitter text-white"></i>
               </a>
            </div>
         </div>
      </div>
   </nav>
</section>
<script src="{{ url_for('static', filename='js/language_selector.js') }}"></script>
