.timer-item{
	margin: 0px 20px
}

.timer-number{
	width: 130px;
	height: 140px;
	border-radius: 10px;
	text-align: center;
	line-height: 140px;
	font-weight: bolder;
	color:white;
	font-size:4rem;
	margin-bottom: 5px;
	margin-top: 15px;
	overflow: hidden;
	user-select: none;
}
.timer-info{
	text-transform: uppercase;
	color:black;
	text-align: center;
	opacity: 0.6;
	font-size: 14px;
	user-select: none;
	letter-spacing: 1px;
}
.timer-number.days {
	background: var(--nerd-red); /*TODO: Cambiar esto por las tramas*/
}
.timer-number.hours {
	background: var(--nerd-green);
}
.timer-number.minutes {
	background: var(--nerd-yellow);
}
.timer-number.seconds {
	background: var(--nerd-light-blue);
}