section#hero{
	background: url(../img/hero-background.jpeg) no-repeat center center; 
	background-size: cover;
	height: 80vh;
}
#about{
	background-color: rgb(203, 195, 195,0.1);
	border-bottom: solid var(--nerd-red);
	transition: 200ms linear
}
#about:hover{
	background-color: rgb(203, 195, 195,0.2);
}
/* Call to action button */
/* CSS */
button#cta {
  background-color: var(--nerd-red);
  border: 2px solid var(--nerd-red);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

button#cta:hover,
button#cta:active {
  background-color: #da2d36;
  border-color: #da2d36;
  background-position: 0 0;
}

button#cta:active {
  opacity: .5;
}