.mauticform-label {
	color: white;
}
.mauticform-errormsg,
.mauticform-error,
.mauticform-message {
	font-weight: bold;
}
.mauticform-message {
	color: --var(--nerd-green);
}

.mauticform-button {
	display: block;
	width: 60%;
	font-size: 1rem !important;
	padding: 8px 12px !important;
	border-radius: 6px !important;
	margin-left: auto;
	margin-right: auto;
}

#mauticform_webnerdearla_nombre, #mauticform_webnerdearla_apellido { display: none;}

#contact .mauticform_wrapper {
	max-width: 100%;
	width: 100%;
}
.mauticform-page-wrapper {
	align-items: flex-end;
	display: flex;
}

#contact .mauticform-button-wrapper .mauticform-button.btn-default, .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default {
	background-color: var(--nerd-green);
	border: 2px solid var(--nerd-green);
	border-radius: 0!important;
	color: var(--nerd-black);
}
.mauticform-row.mauticform-button-wrapper {
    flex: 1 0 70%;
}
.mauticform-row.mauticform-email {
    flex: 1 0 60%;
}
.mauticform-selectbox, .mauticform-input, .mauticform-textarea {
	border-radius: 0!important;
	border: 1px solid white!important;
}

@media (min-width: 992px) {
	#contact .mauticform_wrapper {
		margin-right: 0;
		max-width: 450px;
	}
}