{# TODO: Agregar agenda #} {# This page contains information about the agenda of
the event, using embeds from swapcard #}
{#FIXME Creo que lo mejor sería meter un a _blank a la aplicación y listo, es muy pesado para el navegador y molesto para el usuario cargar las agendas #}
{% extends "base.html" %}
{% block
   content %}
   <section id="agenda">
      <div class="container">
         <h1>Agenda</h1>
         {# Acordeón con el contenido de las FAQ #}
         <div class="accordion">
            {% for item in agenda %}
               {% if not item.ignore %}
                  <div class="accordion-item">
                     <h2 class="accordion-header">
                        <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#panel-{{ item.title|whitespace_to_dash }}"
                                aria-expanded="false"
                                aria-controls="panel-{{ item.title|whitespace_to_dash }}">
                           {{ item.title|whitespace_to_dash }}
                        </button>
                     </h2>
                     <div id="panel-{{ item.title|whitespace_to_dash }}"
                          class="accordion-collapse collapse">
                        <div class="accordion-body">
                           <div class="loading" id="loading~{{ item.title|whitespace_to_dash }}">Cargando agenda, por favor espere...</div>
                           <iframe id="{{ item.title|whitespace_to_dash }}"
                                   src="{{ item.iframe_url }}"
                                   height="500px"
                                   loading="lazy"
                                   width="100%">
                           </iframe>
                        </div>
                     </div>
                  </div>
               {% endif %}
            {% endfor %}
         </div>
      </div>
      <script src="{{ url_for('static', filename='js/agenda.js') }}"></script>
   </section>
{% endblock content %}
