{% extends "base.html" %} {% block content %}
<style>
	h3 {
		font-family: "Rift Soft";
	}
</style>
<section id="code-of-conduct">
	<div class="container">
		<h1>Code of Conduct</h1>
		<h3>GENERAL INFO</h3>
		<p>
			Through this code of conduct we establish the framework for the
			foundations of Nerdearla.<br />
			The main objective of the event is to create a collaborative exchange
			space where we can have fun, learn and share problems and knowledge.
		</p>
		<h3>
			WE RELY ON DIVERSITY AS A FUNDAMENTAL ETHICAL PRINCIPLE OF ANY EXCHANGE
		</h3>
		<p>
			We join the efforts to retrace the paths of discrimination, exclusion and
			condemnation of minorities who suffered and suffer more difficulty to
			exercise freely and with equal opportunities their full competencies,
			capacities and potentialities.
		</p>
		<h3>IT IS OUR SPIRIT TO FOSTER AN ENVIRONMENT FREE OF DISCRIMINATION</h3>
		<p>
			We are aware of the multiple crossings that interfere with the achievement
			of this maximum objective, which is why we believe it is our active work
			and that of the whole community to be involved in this challenge.
		</p>
		<p>
			We hope that sponsors, speakers, organization and all the people attending
			the event respect the following principles of participation and
			collaboration:
		</p>
		<ol>
			<li>
				Maintain, at all times, a friendly and respectful dialogue that
				encourages the best version of the exchange possible.
			</li>
			<li>
				Respect diversity in all its forms: cultural, gender, sexual
				orientation, disability, physical appearance, age, professional,
				religious, ideological perspectives, etc.
			</li>
			<li>
				Do not discriminate, exclude, harass or exercise acts that in any way
				undermine the dignity of people.
			</li>
			<li>Take responsibility for the shared space taking care of it.</li>
			<li>
				Refrain from presenting material, images or activities whose content may
				damage, diminish or objectify people or groups.
			</li>
		</ol>
		<h3>CONTACT THE ORGANIZATION</h3>
		<p>
			If you are seeing and/or experiencing that these principles are not being
			respected contact the organization. (during the event we will provide a
			telephone number), who will guarantee the necessary care.
		</p>
		<p>
			In the face of harassment, discrimination or aggression behaviors, they
			are expected to cease immediately. Depending on the case, the sanction,
			expulsion and/or review of the permanence in future community events will
			proceed.
		</p>
		<p>
			We hope to count with the active cooperation of each participant to
			generate an enriching and virtuous space that accompanies these policies
			to make Nerdearla a heterogeneous, multiple, friendly and inclusive
			meeting place.
		</p>
		<p>
			This code of conduct was developed by
			<a href="https://twitter.com/digencuentros" target="_blank" rel="noopener">DiG Encuentros</a>
			and is available for use in events produced by communities with a free ticket, under the
			<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener">
				Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License
			</a>.
		</p>
		<p>
			<img decoding="async" loading="lazy"
				src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Cc-by-nc-sa_icon.svg/640px-Cc-by-nc-sa_icon.svg.png"
				alt="" width="176" height="62" />
		</p>
	</div>
</section>
{% endblock content %}