<link
	rel="stylesheet"
	href=" {{ url_for('static', filename='css/hero.css') }} "
/>
<section id="hero">
	<div class="row">
		<div class="col-1"></div>
		<div class="col-sm-6 p-5 text-white" id="about">
			<div id="subtitle" class="h6">Conferencia</div>
			<div id="title" class="h1 fw-bold my-3">Nerdearla</div>
			<div id="date">Del 27 al 30 de Septiembre de 2023</div>
			<button type="button" id="cta" class="btn mt-4">Conoce más</button>
		</div>
		<div class="col-sm-5"></div>
	</div>
</section>
