{# This is the index. This page takes the desired components from components/ and displays them
This is done for code manteinability and readability
#}
{% extends "base.html" %}
{% block content %}
   {# Hero with the title and a CTA #}
   {% include "components/hero.html" %}
   {# Countdown till the start of the event #}
   {% include "components/countdown.html" %}
   <div class="bg-trama bg-trama-fit bg-trama-orange-3 py-5">
      {# About section with introductory info about the event #}
      {% include "components/about.html" %}
   </div>
   {# {% include "components/intro.html" %} <!-- Intro with cool image--> #}
   {# Nerdearla in numbers (atendees, speakers, sponsors, exhibitors, etc...) #}
   {% include "components/statistics.html" %}
   {# About the speakers #}
   {# TODO: Speakers #}
   {# {% include "components/speakers.html" %} #}
   {# Directions to the event and Google maps iframe #}
   {% include "components/ubication.html" %}
   <div class="bg-trama bg-trama-fit bg-trama-black-1 py-5">
      {# This generates the FAQ #}
      {% include "components/faq.html" %}
      {# Contact form like https://productschool.com/productcon/london-2024 #}
      {% include "components/contact.html" %}
   </div>
   <h1 class="text-center display-1 fw-bold mt-5 text-decoration-underline">Conoce a nuestros sponsors</h1>
   {% include "components/sponsors_generator.html" %}
{% endblock content %}
