{% extends "base.html" %}
{% block content %}
{% include "components/hero.html" %} {# Hero with the title and a CTA #}
{% include "components/about.html" %} {# About section with introductory info about the event #}
{% include "components/countdown.html" %} {# Countdown till the start of the event #}
{% include "components/statistics.html" %} {# Nerdearla in numbers (atendees, speakers, sponsors, exhibitors, etc...) #}
{% include "components/speakers.html" %} {# About the speakers #}
{% include "components/ubication.html" %} {# Google maps iframe #}
{% include "components/recap.html"%}
{% include "components/faq.html" %} {# This generates the FAQ #}
{% include "components/contact.html" %} {# Contact form like https://productschool.com/productcon/london-2024 #}
{% endblock content %}