{% extends "base.html" %}
{% block content %}
   {# Necessary for frozen flask#}
   <a href="{{ url_for('index', lang_code=en) }}"></a>
   <a href="{{ url_for('index', lang_code=es) }}"></a>
   <script>
       // Get the user's preferred language from the browser
       const userLanguage = navigator.language || navigator.userLanguage;

       // Check if the user's preferred language is Spanish
       if (userLanguage.startsWith('es')) {
           window.location.href += 'es/'; // Redirect to Spanish version
       } else {
           window.location.href += 'en/'; // Redirect to English version (default)
       }
   </script>
   <script>
       document.addEventListener("DOMContentLoaded", (event) => {
           const hideElement = document.querySelector("#hide-with-js-enabled");
           hideElement.style.display = 'none';
       });
   </script>
{% endblock content %}
