{% extends "base.html" %}
{% block content %}
   <div class="hide-with-js-enabled">
      <h1>You are seeing this because you have javascript disabled:</h1>
      <a href="{{ url_for('index', lang_code=en) }}">Go to English</a>
      <a href="{{ url_for('index', lang_code=es) }}">Ir a español</a>
   </div>
   <script>
       // Get the user's preferred language from the browser
       const userLanguage = navigator.language || navigator.userLanguage;

       // Check if the user's preferred language is Spanish
       if (userLanguage.startsWith('es')) {
           window.location.href += 'es/'; // Redirect to Spanish version
       } else {
           window.location.href += 'en/'; // Redirect to English version (default)
       }
   </script>
   <script>
       document.addEventListener("DOMContentLoaded", (event) => {
           const hideElement = document.querySelector("#hide-with-js-enabled");
           hideElement.style.display = 'none';
       });
   </script>
{% endblock content %}
