{% extends "base.html" %}
{% block content %}
   {# Necessary for frozen flask#}
   <a href="{{ url_for('index', lang_code=en) }}"></a>
   <a href="{{ url_for('index', lang_code=es) }}"></a>
   <script>
       // Get the user's preferred language from the browser
       const userLanguage = navigator.language || navigator.userLanguage;
       let redirect = 'es/'

       // Check if the user's preferred language is Spanish
       if (userLanguage.startsWith('en')) {
           redirect = 'en/'
       }
       window.location.href += redirect; // Redirect to English version (default)
   </script>
{% endblock content %}
