{#
	This code expects a dictionary with multiple list of dictionaries.
	It is gonna take that list of dicts, group it by the category value, and display it separatelly for every category it finds

	It expects the dictionaries to be already sorted.

	If you want a version of this code that automatically sorts a list of dictionaries and consumes that,
	look for commit 66ec7bc90494a84472add4a44075da630359a510.
	It was discarded because it looked messy
	
	The grouped_sponsors variable should look like this:
{
    "adamantium": [
        {
            "name": "icbc",
            "category": "adamantium",
            "file": "icbc.png",
            "link": "https://www.icbc.com.ar",
        },
        {
            "name": "openqube",
            "category": "adamantium",
            "file": "openqube.png",
            "link": "https://openqube.io/",
        },
        {
            "name": "google cloud platform",
            "category": "adamantium",
            "file": "googlecloud.png",
            "link": "https://cloud.google.com/",
        },
    ],
    "diamond": [
        {
            "name": "cognizant",
            "category": "diamond",
            "file": "cognizant.png",
            "link": "https://sysar.my/cognizantsoftvision",
        },
        {
            "name": "cognizant soft vision",
            "category": "diamond",
            "file": "cognizantsoftvision.png",
            "link": "https://sysar.my/cognizantsoftvision",
        },
        {
            "name": "cognizant soft vision",
            "category": "diamond",
            "file": "cognizantsoftvision.png",
            "link": "https://sysar.my/cognizantsoftvision",
        },
    ],
    "silver": [
        {
            "name": "openqube",
            "category": "silver",
            "file": "openqube.png",
            "link": "https://openqube.io/",
        },
        {
            "name": "openqube",
            "category": "silver",
            "file": "openqube.png",
            "link": "https://openqube.io/",
        },
    ],
}

#}
{% extends "base.html" %}
{% block content %}
   <section id="sponsors">
      <link rel="stylesheet"
            href="{{ url_for('static', filename='css/sponsors.css') }}">
      <div class="container">
         {# Get the category and the sponsors for that category#}
         {% for category, sponsors in grouped_sponsors.items() %}
            {# For every category:
					* Show the category as an h1
					* Create a row with every sponsor as a column
				#}
            <h1 class="text-center display-3 mt-5 fw-medium text-capitalize">{{ category }}</h1>
            <div class="row">
               <div class="d-flex flex-wrap justify-content-center align-items-center">
                  {% for sponsor in sponsors %}
                     {% set file = 'img/sponsors/' ~ sponsor['file'] %}
                     {# Generate the sponsor card using the provided links, file, and name #}
                     <div class="col-8 col-md-6 col-lg-3 mt-1">
                        <div class="card sponsor-card">
                           <div class="card-img-block">
                              <a href="{{ sponsor['link'] }}"
                                 target="_blank"
                                 rel="noopener noreferrer">
                                 <img class="card-img-top"
                                      src="{{ url_for('static', filename=file) }}"
                                      alt="{{ sponsor['name'] }}">
                              </a>
                           </div>
                        </div>
                     </div>
                  {% endfor %}
               </div>
            </div>
         {% endfor %}
      </div>
   </section>
{% endblock content %}
