{# This page displays the sponsors of the event, divided into multiple categories #}
{#
	This code takes a variable with the information about each sponsor, and displays it separated by the sponsor category (which are, basically, tiers)

	It expects the variable to be a dictionary with lists of dictionaries, just like the example.
	It also expects the dictionaries to be already sorted.

	If you want a version of this code that automatically sorts and groups that list of dictionaries and consumes that,
	look for commit 66ec7bc90494a84472add4a44075da630359a510.
	It was discarded because it looked messy

EXAMPLE OF GROUPED SPONSORS:

grouped sponsors = {
    "adamantium": [
        {
            "name": "icbc",
            "category": "adamantium",
            "file": "icbc.png",
            "link": "https://www.icbc.com.ar",
        },
        {
            "name": "openqube",
            "category": "adamantium",
            "file": "openqube.png",
            "link": "https://openqube.io/",
        }
    ],
    "diamond": [
        {
            "name": "cognizant",
            "category": "diamond",
            "file": "cognizant.png",
            "link": "https://sysar.my/cognizantsoftvision",
        },
        {
            "name": "cognizant soft vision",
            "category": "diamond",
            "file": "cognizantsoftvision.png",
            "link": "https://sysar.my/cognizantsoftvision",
        }
    ],
    "silver": [
        {
            "name": "openqube",
            "category": "silver",
            "file": "openqube.png",
            "link": "https://openqube.io/",
        },
        {
            "name": "openqube",
            "category": "silver",
            "file": "openqube.png",
            "link": "https://openqube.io/",
        },
    ],
}
#}
{% extends "base.html" %}
{% block content %}
   <section id="sponsors">
      <link rel="stylesheet"
            href="{{ url_for('static', filename='css/sponsors.css') }}">
      <div class="container-fluid bg-trama bg-trama-fit bg-trama-green-3"
           id="sponsors-thanks">
         <div class="row d-flex flex-row-reverse align-items-center justify-content-center py-4">
            <div class="col-6 col-md-4">
               <img src="{{ url_for('static', filename='img/logos/nerd-square-detailed.png') }}"
                    alt="Nerd logo cuadrado"
                    class="responsive-image">
            </div>
            <div class="col-12 col-md-8 text-center text-md-start">
               <h1 class="display-1 fw-bold text-white">Nerdearla is brought to you thanks to our wonderful sponsors</h1>
               <h3 class="text-white">
                  {# TODO: Add a contact link to Become one today! #}
                  {# TODO: Translate this text #}
                  Since 2014 our goal has been to organize a world-class event for people in Latin America, with a 100% free ticket. That wouldn't be possible without our sponsors and supporting organizations. Become one today!
               </h3>
            </div>
         </div>
      </div>
      <div class="container">
         {# Get the category and the sponsors for that category#}
         {% for category, sponsors in grouped_sponsors.items() %}
            {# For every category:
					* Show the category as an h1
					* Create a row with every sponsor as a column
				#}
            <h1 class="text-center display-3 mt-5 fw-medium text-capitalize extending-underline mx-5">{{ category }}</h1>
            {# Define the sizes that the columns that hold the cards are going to have depending if they are featured categories or not.
				Also define sizes for responsiveness#}
            {% if category in featured_categories %}
               {% set col_class = "col-6 col-lg-3" %}
            {% else %}
               {% set col_class = "col-4 col-lg-2" %}
            {% endif %}
            <div class="row">
               <div class="d-flex flex-wrap justify-content-center align-items-center">
                  {% for sponsor in sponsors %}
                     {% set file = 'img/sponsors/' ~ sponsor['file'] %}
                     {# Generate the sponsor card using the provided links, file, and name #}
                     <div class="{{ col_class }}">
                        <div class="card sponsor-card">
                           <div class="card-img-block">
                              <a href="{{ sponsor['link'] }}"
                                 target="_blank"
                                 rel="noopener noreferrer">
                                 <img class="card-img-top"
                                      src="{{ url_for('static', filename=file) }}"
                                      alt="{{ sponsor['name'] }}">
                              </a>
                           </div>
                        </div>
                     </div>
                  {% endfor %}
               </div>
            </div>
         {% endfor %}
      </div>
   </section>
{% endblock content %}
